/* Write your CSS here */
.list-item {
  list-style: none;
  background-color: transparent;
}
.button {
  border: none;
  font-size: large;
  min-width: 80px;

  background-color: transparent;
  border-bottom: 2px solid #dfe2e5;
}
.selected-button {
  color: #2563eb;
  font-size: larger;
  padding-bottom: 5px;
  border-bottom: 2px solid #2563eb;
  width: 100px;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
}
