/* Write your CSS here */
.app-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  border-radius: 1em;
  background-color: #ffffff;
  margin: 1em;
}
.app-logo {
  height: 8em;
  width: 8em;
}
.app-heading {
  font-size: 0.8em;
}
